:root {
    --button-bright: #2d43c2;
    --button-dark: #0b3975;
    --background-color: rgba(9, 60, 90, 0.3);
}


body {
    background-image: url('https://raw.githubusercontent.com/confusedcatgirl/confusedcatgirl.github.io/refs/heads/main/background.webp');
    background-attachment: fixed;
    background-size: cover;
    
}

p {
    padding-left: 32px;
    line-height: 15px;
}

h2 {
    padding-left: 16px;
    line-height: 48px;
}

img {
    border-radius: 15px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 38%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.button {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom, var(--button-bright), var(--button-dark)) border-box;
    border: 10px solid transparent;
    border-radius: 50vh;  
    transition: all 0.2s;

    text-decoration: none;
    color: black; 
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;

    margin-inline: auto;
    margin-block: 1rem;
    padding: 10px 30px 10px 30px;
    max-width: fit-content;
    display: block;
    z-index: 1;
}

.button:hover {
    padding: 10px 50px;
}

.text_area {
    overflow: hidden;
    background-color: var(--background-color);
    color: white;
    display: inline-flexbox;
    border-radius: 20px;
    margin: 1% 5% 1% 5%;
    backdrop-filter: blur(12px);
    padding: 0% 1% 1% 1%;
    font-family: 'Trebuchet MS', sans-serif;
}

.icon {
    width: 64px;
    display: flex;
    filter: invert(1);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: var(--background-color);
    color: white;
    border-radius: 10px;
    margin: 1%;
    backdrop-filter: blur(6px);
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 20px;
    margin: 14px 0px 14px 10px;
    width: 150px;
    height: 15px;
    text-decoration: none;
    
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: black;
    display: block;
}

.topnav a.inactive {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom, var(--button-bright), var(--button-dark)) border-box;
    border: 10px solid transparent;
    border-radius: 50vh;
    transition: all 0.2s;
}

.topnav a.inactive:hover {
    padding: 14px 30px;

}
