
:root {
    --button-bright: #ddddff;
    --button-dark: #aaaaff;
    --color-indigo-900:oklch(35.9% .144 278.697);
    --background-color: color-mix(in oklab,var(--color-indigo-900)40%,transparent);
}

body {
    background-image: url('https://raw.githubusercontent.com/confusedcatgirl/confusedcatgirl.github.io/refs/heads/main/background.webp');
    background-attachment: fixed;
    background-size: cover;
    
}

p {
    padding-left: 32px;
    line-height: 25px;
}

h2 {
    padding-left: 16px;
    line-height: 20px;
}

img {
    border-radius: 15px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 38%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.button {
    background-image: linear-gradient(var(--button-bright), var(--button-dark));
    color: black;
    margin-inline: auto;
    margin-block: 1rem;
    border-radius: 15px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 10px 30px 10px 30px;
    max-width:fit-content;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-image: linear-gradient(var(--button-dark), var(--button-bright));
}

.text_area {
    overflow: hidden;
    background-color: var(--background-color);
    color: white;
    display: inline-flexbox;
    border-radius: 20px;
    margin: 1% 5% 1% 5%;
    backdrop-filter: blur(6px);
    padding: 0% 1% 1% 1%;
    font-family: 'Trebuchet MS', sans-serif;
}

.icon {
    width: 64px;
    display: flex;
    filter: invert(1);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: var(--background-color);
    color: white;
    border-radius: 10px;
    margin: 1%;
    backdrop-filter: blur(6px);
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 20px;
    margin: 14px 0px 14px 10px;
    width: 150px;
    height: 15px;
    text-decoration: none;
    
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: black;
    display: block;
}

.topnav a.inactive {
    background-image: linear-gradient(var(--button-bright), var(--button-dark));
    transition: all 150ms;
}

.topnav a.inactive:hover {
    background-image: linear-gradient(var(--button-dark), var(--button-bright));
}
